.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 64px;
    background: var(--color-pink-background);
    box-shadow: 0 0 5px var(--color-shadow);
    display: grid;
    align-items: center;
    justify-content: end;
    padding: 0 2%;
}